<div class="wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-8">
        <div class="text-box1">
          <h3>Basis website (incusief CMS)</h3>
          Een basis website met "statische" HTML pagina's en een "Content Management System" (CMS) dat u in staat stelt zelf op eenvoudige wijze de teksten en/of beelden aan te passen. Deze website (QED WebDevelopment.com) is daar een voorbeeld van. Het CMS is vanzelfspekend alleen beschikbaar door middel van een beveiligd administratie-account.
          Zoals beschreven staat op de <%= link_to "werkwijze", nlteam_path, class: "info-header" %> pagina, leveren wij ook de sourcecode en zorgen voor de installatie (deployment), inclusief koppeling met uw domeinnaam.
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="showcase-link">
          <a href="https://www.qedwebdevelopment.com/">
            <%= image_tag "QEDWD.jpg", class: "img-responsive"%>
            <a href="https://www.qedwebdevelopment.com/"> <span class="info-header">GoTo:</span>QED WebDevelopment</a>
          </a>
        </div>
      </div>
    </div>
    <hr class="row-hr">
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-8">
        <div class="text-box1">
        <h3>Dynamische Website met meerdere gebruikers (usermanagement)</h3>
        Een dynamische website met een login functie voor meerdere gebruikers. Dit kan een gesloten gemeenschap zijn, waarbij nieuwe gebruikers alleen via een admin-functie worden toegevoegd, of een open systeem waar accounts door iedereen aangemaakt kunnen worden. Deze showcase (een eenvoudige variant van AirBnB: Yacht bnb) is een voorbeeld van het laatste: eenieder kan een account aanmaken en gebruik maken van de "Yacht experience".
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="showcase-link">
          <a href="https://clonebnb-batch126.herokuapp.com/">
            <%= image_tag "yacht-bnb.jpg", class: "img-responsive"%>
            <a href="https://clonebnb-batch126.herokuapp.com/"> <span class="info-header">GoTo:</span>Yacht experience</a>
          </a>
        </div>
      </div>
    </div>
    <hr class="row-hr">
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-8">
        <div class="text-box1">
          <h3>Dynamische Website met marktplaats en meerdere gebruikers</h3>
          De combinatie van meerdere gebruikers (community) en de mogelijkheid om zaken te verkopen en/of kopen is een veelgevraagd concept (digitale marktplaats). Hier komen een aantal technieken samen en wordt het dus ook complexer. Deze showcase is een prototype van een digitale marktplaats waar de nieuwste "limited edition" sneakers verhandeld kunnen worden.
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="showcase-link">
          <a href="https://trade99.herokuapp.com/">
            <%= image_tag "trade.jpg", class: "img-responsive"%>
            <a href="https://trade99.herokuapp.com/"> <span class="info-header">GoTo:</span>Sneaker Marktplaats</a>
          </a>
        </div>
      </div>
    </div>
    <hr class="row-hr">
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-8">
        <div class="text-box1">
        <h3>API backend server</h3>
        Hoewel minder geschikt als showcase op een visueel ingestelde website als deze, geven we toch een voorbeeld van een zogenaamde "API backend" webserver. Dit is een Ruby on Rails applicatie die met behulp van een beschreven API gebruikt kan worden door verschillende "Clients". Een Client kan in een Webbrowser draaien (bijvoorbeeld REACT), maar kan ook een Android of IOS app zijn. Door het loskoppelen van Front End en Back End wordt maximale flexibiliteit gegeven aan ontwikkelaars (met name de Front End). De sourcecode en API beschrijving is beschikbaar op Github: <a href="https://github.com/QEDWebDevelopoment/fearsetting2">https://github.com/QEDWebDevelopoment/fearsetting2</a>.
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="showcase-link">
          <a href="https://fearsetting.herokuapp.com/">
            <%= image_tag "Fearsetting.jpg", class: "img-responsive"%>
            <a href="https://fearsetting.herokuapp.com/"> <span class="info-header">GoTo:</span>API backend server</a>
          </a>
        </div>
      </div>
    </div>
  </div>
  <hr class="row-hr">
</div>
<%= render 'shared/footer' %>
