<div class="wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-8">
        <div class="text-box1">
          <h3>Basic Website</h3>
          A basic Website where the customer can change some items (like images) by means of an admin function and including basic calendaring. As described on the <%= link_to "way we work", team_path, class: "info-header" %> page, we take care of deployment on a hosting service and connection to your domain name.
          The sourcecode of this website is available on GitHub here: <a href="https://github.com/JoannesPaanakker/arus">GitHub.com/JoannesPaanakker/arus</a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="showcase-link">
          <a href="http://www.amstelrivershortstay.com/">
            <%= image_tag "arus.jpg", class: "img-responsive"%>
            <a href="http://www.amstelrivershortstay.com/"> <span class="info-header">GoTo:</span>Amstel River Unique Studio</a>
          </a>
        </div>
      </div>
    </div>
    <hr class="row-hr">
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-8">
        <div class="text-box1">
        <h3>Interactive Website with usermanagement</h3>
        An interactive website handling user login functions. This could be a closed community, where an admin function adds and changes accounts or an open system allowing account creation online. This sociual media platform is an example of an open system: anybody can join and help make the world a better (greener) place: <a href="https://www.greenplatform.org/">www.greenplatform.org</a>.
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="showcase-link">
          <a href="https://www.greenplatform.org/">
            <%= image_tag "GP.jpg", class: "img-responsive"%>
            <a href="https://www.greenplatform.org/"> <span class="info-header">GoTo:</span>The Green Platform</a>
          </a>
        </div>
      </div>
    </div>
    <hr class="row-hr">
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-8">
        <div class="text-box1">
          <h3>Interactive Website with marketplace and multiple users</h3>
          The combination of multiple users (community) and the possibility of selling and/or buying items is a well-known concept on the web. The combination of functions adds complexity to the site. This demo-site is a prototype of a digital marketplace to trade “limited edition” sneakers.
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="showcase-link">
          <a href="https://trade99.herokuapp.com/">
            <%= image_tag "trade.jpg", class: "img-responsive"%>
            <a href="https://trade99.herokuapp.com/"> <span class="info-header">GoTo:</span>Sneaker Marketplace</a>
          </a>
        </div>
      </div>
    </div>
    <hr class="row-hr">
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-8">
        <div class="text-box1">
        <h3>API Back End server</h3>
        Although not really suited for a graphical interface like this, we want to show an example of an “API Back End” server. This Ruby on Rails (RoR) app can be accessed by custom built browser clients (React) and Android of IOS apps. This Back End API interface allows for maximum flexibility in developing a user interface. The source code and API instructions are available on GitHub: <a href="https://github.com/QEDWebDevelopoment">github.com/QEDWebDevelopment</a>.
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="showcase-link">
          <a href="https://fearsetting.herokuapp.com/">
            <%= image_tag "Fearsetting.jpg", class: "img-responsive"%>
            <a href="https://fearsetting.herokuapp.com/"> <span class="info-header">GoTo:</span>API backend server "Fear Setting"</a>
          </a>
        </div>
      </div>
    </div>
  </div>
  <hr class="row-hr">
</div>
<%= render 'shared/footer' %>
